.discussionPanel{
	padding-left: 15%;
	padding-right: 15%;
}

.ui.items>.item>.image>img{
	display: block;
	width: auto;
    height: auto;
    border-radius: .25rem;
    border: none;
}

.xtiny{
	width: 60px;
}

.date{
	color: rgba(0,0,0,.4);
}

.ui.items>.item>.content>.description{
	margin-top: 0.35em;
}
