.ui.form>form>.field>.poststate{
	min-height: 3em;
	max-height: 6em;
}

.commentInput, .comment{
	margin-top: 10px;
}

.comment{
	display: table;
}

.content>.comment>.label{
	display: table-cell;
	width: 2.5em;
	height: 2.5em;
	vertical-align: top;
	text-align: left;
}

.commentContent{
	display: table-cell;
	padding-top: 0.5em;
  	padding-right: 0px;
  	padding-bottom: 0.5em;
  	padding-left: 0.75em;
  	font-size: 0.9em;
}

.commentInput>form{
	display: inline-flex;
}

.ui.action.input{
	display: inline-flex;
	min-width: 350px;
	padding-left: 0.75em;
}

.ui.feed>.event>.content>.comment>.date {
  display: inline-block;
  float: none;
  font-weight: 400;
  font-size: .875em;
  font-style: normal;
  margin: 0 0 0 .5em;
  padding: 0;
  color: rgba(0,0,0,.4);
}

.ui.feed>.event>.label img {
	border-radius: 0.25em;
}
.ui.feed>.event>.label+.content{
	margin-top: 0em;
}
.ui.feed>.event>.content .extra{
	margin-top: 0.25em;
}
.ui.feed>.event>.label{
	padding-top: 0.25em;
}

.ui.comments .comment{
	margin-top: 0px;
}

.ui.comments{
	margin-top: 0.5em;
	margin-bottom: 0px;
}
.ui.comments .comment .avatar img{
	width: 90%;
	height: 90%;
}

.ui.action.input{
	padding-left: 0px;
}

.liked{
	color: #ff2733;
}

.previewImage{
	margin-right: 10px;
}
.imgPreview{
	margin-top: 0.75em;
}
