.summary{
	vertical-align:middle;
}

.messageTopic{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.25em;
}

.ui.feed>.event>.label img{
	border-radius: 0.25em;
}
