#avatarImg{
	width: 150px;
	height: 150px;
	border-radius:0.5em;
}

#cropImg{
	width: 450px;
	height: 400px;
}

#changeAvatar, #removeAvatar{
	margin-top:1em;
}

.ui .image > .button{
	margin-top: 1.5em;
}

.ui.large.image{
	width: 450px;
	height: 450px;
}

.cropContainer{
	width: 450px;
	height: 400px;	
}

.largeAvatar{
	width: 80px;
	height: 80px;
}

.middleAvatar{
	width: 50px;
	height: 50px;
}

.smallAvatar{
	width: 40px;
	height: 40px;
}

.avatarWrapper{
	position: relative;
	overflow: hidden;
}

.avatarPreview{
	position: absolute;
}

div.inline { 
	float:left;
	margin-right: 1em;
}