body{
  background-color: #f8f8f8;
  font-family: 'Lato','Helvetica Neue','Arial','Helvetica','Microsoft YaHei', 'WenQuanYi Micro Hei';
}

/* segment headers */
body > .content > .page > .segment,
body > .segment{
  margin: 0px 0px 3em;
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}

.main.container{
  padding-bottom: 80px;
  margin-top: 50px;
}

.main.footer{
  text-align: center;
  bottom: 0px;
  padding-bottom: 1.5rem;
  width: 100%;
}


.main.dimmer > .loader{
  padding: 0;
  margin: 0;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px;
  z-index: 1000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container,
.footer{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main.nav > .menu{
  border-radius: 0;
}

.main.nav:after{
  clear: both;
}

.ui.message{
	position: fixed;
	left: 50%;
	top: 10%;
}

.cutoff{
	width: 300px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.ui.menu .item>.label{
	margin-left: 0.2em;
}

.ui.menu .item>.myLabel{
	margin-left: 0.2em;
	
	background: #999;
	padding: .3em .71428571em;
	background-color: #f2711c!important;
	border-color: #f2711c!important;
	color: #fff!important;
	font-size: .85714286rem;
	
	display: inline-block;
	white-space: nowrap;
	line-height: 1;
	vertical-align: baseline;
	margin: 0 .14285714em;
	font-weight: 700;
	border-radius: .28571429rem;
	            
	/*padding-top: 0.3em;
    padding-right: 0.71428571em;
    background-color: #00b5ad!important;
    border-color: #00b5ad!important;
    color: #fff!important;
    
    border-radius: .28571429rem;
    font-weight: 700;*/
}

.ui.button, .ui .menu,
h1,h2,h3,h4,h5,
.ui.form textarea, .ui.form input,
.ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=search], 
.ui.form input[type=password], .ui.form input[type=date], 
.ui.form input[type=datetime-local], .ui.form input[type=tel], 
.ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=number],
.ui.items>.item>.content>.header{
	font-family: 'Lato','Helvetica Neue','Arial','Helvetica','Microsoft YaHei', 'WenQuanYi Micro Hei';
}
