{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="ui grid">
	<div class="row">
		<div class="nine wide column"></div>
		<div class="five wide column">
			<div class="ui form">
				<div class="field">
					<label for="{{form.username.id__for_label}}">Username</label>
					{{ form.username }}
				</div>
				<div class="field">
					<label for="{{form.email.id__for_label}}">Password</label>
					{{ form.password1 }}
				</div>
				<div class="field">
					<label for="{{form.email.id__for_label}}">Password</label>
					{{ form.password2 }}
				</div>
				<div class="field">
					<label for="{{form.email.id__for_label}}">Email</label>
					{{ form.email }}
				</div>
				<div class="ui submit blue button">Login</div>
			</div>
		</div>
		<div class = "two wide column"></div>
	</div>	
</div>


<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
