{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}


{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div>
                <a href="{% url 'createActivity' %}" class="ui basic button" target="_blank">
                    <i class="icon users"></i>
                    创建活动
                </a>
            </div>
        </div>
        <div class="two wide column"></div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".launch.item").removeClass("active");
        $(".launch.item").eq(2).addClass("active");
    });
</script>
{% endblock %}
