{% extends "base.html" %}
{% load staticfiles %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/discussion.css" %}">
{% endblock %}

{% block content %}
<div class="discussionPanel">
    <div>
        <a class="ui basic button" target="_blank" href="{% url 'postDiscussion' %}">
            <i class="icon user"></i>
            发布讨论贴
        </a>
    </div>
    <div class="ui items">
        {% for blog in blogs %}
        <div class="item">
            <a class="ui image xtiny">
                <img class="ui image" src="{% static "img/avatar/small/elliot.jpg" %}">
            </a>
            <div class="content">
                <a class="header">{{blog.title}}</a>
                <div class="description">{{blog.content}}</div>
            </div>
        </div>
        {% endfor %}
      <!-- <div class="item">
        <a class="ui image xtiny">
          <img class="ui image" src="{% static "img/avatar/small/elliot.jpg" %}">
        </a>
        <div class="content">
          <a class="header">Stevie Feliciano</a>
          <div class="description">
            <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <a class="ui tiny image">
          <label><img class="avatar" src="{% static "img/avatar/small/helen.jpg" %}"></label>
        </a>
        <div class="content">
          <a class="header">Veronika Ossi</a>
          <div class="description">
            <p>Veronika Ossi is a set designer living in New York who <a>enjoys</a> kittens, music, and partying.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <a class="ui tiny image">
          <label><img class="avatar" src="/images/avatar/large/jenny.jpg"></label>
        </a>
        <div class="content">
          <a class="header">Jenny Hess</a>
          <div class="description">
            <p>Jenny is a student studying Media Management at <a>the New School</a>.</p>
          </div>
        </div>
      </div> -->
    </div>    
</div>


<script>
    $(document).ready(function(){
        $(".launch.item").removeClass("active");
        $(".launch.item").eq(1).addClass("active");
    });
</script>
{% endblock %}
