{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}
{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/discussion.css" %}">
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div>
                <a class="ui basic button" target="_blank" href="{% url 'postDiscussion' %}">
                    <i class="icon user"></i>
                    发布讨论贴
                </a>
            </div>
            <div class="ui items">
                {% for blog in blogs %}
                <div class="item">
                    <a class="ui image xtiny">
                        {% if blog.user.profile.hasAvatar %}
                        <img class="ui image" src="{% static blog.user.username|getAvatarPath %}">
                        {% else %}
                        <img class="ui image" src="{% static ''|getAvatarPath %}">
                        {% endif %}
                    </a>
                    <div class="content">
                        <a class="header" href="{% url 'viewDiscussion' blog.id %}">{{blog.title}}</a>
                        <div class="date">{{ blog.time }}</div>
                        <div class="responseView">[{{blog.commentCount}} / {{blog.viewCount}}]</div>
                        <div class="description cutoff">{{blog.content|striptags}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            {% include "njuG/pagination.html" with list=blogs %}
        </div>
        
        <div class="two wide column"></div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $(".launch.item").removeClass("active");
        $(".launch.item").eq(1).addClass("active");
    });
</script>
{% endblock %}
