{% load filters %}
{% load staticfiles %}
{% load thumbnail %}
<div class="ui feed">
    {% for post in posts %}
    <div class="event">
        <div class="label">
            {% if post.user.profile.hasAvatar %}
            <img src="{% static post.user.username|getAvatarPath %}">
            {% else %}
            <img src="{% static ''|getAvatarPath %}">
            {% endif %}
        </div>
        <div class="content">
            <div class="summary">
                <a href="{% url 'home' post.user.id %}">{{ post.user.username }}</a> posted on his page
                <div class="date">
                    {{ post.time }}
                </div>
            </div>
            <div class="extra text">
                {{ post.content }}
            </div>
            {% if post.img1 %}
            <div class="imgPreview">
                {% if post.img1 %}
                <a href="{{post.img1.file.url}}" class="previewImage" index="0" postid="{{post.id}}">
                  {% thumbnail post.img1.file "180x150" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                </a>
                {% endif %}
                {% if post.img2 %}
                <a href="{{post.img2.file.url}}" class="previewImage" index="1" postid="{{post.id}}">
                  {% thumbnail post.img2.file "180x150" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                </a>
                {% endif %}
                {% if post.img3 %}
                <a href="{{post.img3.file.url}}" class="previewImage" index="2" postid="{{post.id}}">
                  {% thumbnail post.img3.file "180x150" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                </a>
                {% endif %}                            
            </div>
            {% endif %}
            <div class="meta">
                <a class="like" postid="{{ post.id }}">
                    {% if user|isLikePost:post %}
                    <i class="like icon liked"></i> <i class="likeCount">{{post.likes}}</i> Likes
                    {% else %}                      
                    <i class="like icon"></i> <i class="likeCount">{{post.likes}}</i> Likes
                    {% endif %}
                </a>
            </div>
            
            <div class="ui comments">
            {% for comment in post.comments %}
                <div class="comment">
                    <a class="avatar">
                        {% if comment.user.profile.hasAvatar %}
                        <img src="{% static comment.user.username|getAvatarPath %}">
                        {% else %}
                        <img src="{% static ''|getAvatarPath %}">
                        {% endif %}
                    </a>
                    <div class="content">
                        {% if comment.replyTo %}
                        <a href="{% url 'home' comment.user.id %}" class="author">{{ comment.user.username }}</a> 回复 
                        <a href="{% url 'home' comment.replyTo.user.id %}" class="author">{{ comment.replyTo.user.username }}</a>
                        {% else %}
                        <a class="author">{{ comment.user.username }}</a>
                        {% endif %}
                        <div class="metadata">
                            <span class="date">{{ comment.time }}</span>
                        </div>
                        <div class="text">
                            {{ comment.content }}
                        </div>
                        <div class="actions">
                            <a class="reply postCommentReply">回复</a>
                            <form class="ui form postCommentReplyForm" style="display: none" commentid="{{comment.id}}", postid="{{post.id}}">
                                <div class="field">
                                    <textarea rows="2" name="content" required></textarea>
                                </div>
                                <button class="ui labeled icon tiny basic button" type="submit">
                                    <i class="send icon"></i>
                                    回复
                                </button>
                            </form>
                        </div>
                    </div>
                    
                </div>                      
            {% endfor %}
            
                <div class="comment">
                    <a class="avatar commentAvatar">
                        {% if request.user.profile.hasAvatar %}
                        <img src="{% static request.user.username|getAvatarPath %}">
                        {% else %}
                        <img src="{% static ''|getAvatarPath %}">
                        {% endif %}
                    </a>
                    <div class="content">
                        <form class="ui form commentForm">
                            <div class="ui action input">
                                <input type="text" name="commentContent" placeholder="评论..." required>
                                <button class="ui icon button" type="submit" postid="{{ post.id }}">
                                    <i class="send icon"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>