{% extends "njuG/home_base.html" %}

{% load staticfiles %}
{% load filters %}
{% load thumbnail %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
{% endblock %}

{% block tab_menu %}
<div class="ui vertical fluid tabular menu">
    {% if request.user.username == target.username %}
    <a href="{% url 'myHome' %}" class="item active">
      我的发布
    </a>
    {% else %}
    <a href="{% url 'home' target.id %}" class="item active">
        他的发布
    </a>
    {% endif %}
    
    {% if request.user.username == target.username %}
    <a href="{% url 'message' %}" class="item">
      我的消息
      {% if request.user.profile.unreadMessageCount > 0 %}
      <div class="ui teal pointing left label">{{request.user.profile.unreadMessageCount}}</div>
      {% endif %}
    </a>
    {% endif %}

</div>
{% endblock %}

{% block tab_content %}

    {% include "njuG/feeds.html" with posts=target|getPosts %}

{% endblock %}

{% block loadJs %}
<script src="{% static "js/createEvent.js" %}"></script>
{% endblock %}
