{% extends "njuG/home_base.html" %}

{% load staticfiles %}
{% load filters %}
{% load thumbnail %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
{% endblock %}

{% block tab_menu %}
<div class="ui vertical fluid tabular menu">
    {% if request.user.username == target.username %}
    <a class="item active">
      我的发布
    </a>
    <a class="item">
      我的消息
      <div class="ui teal pointing left label">1</div>
    </a>
    {% endif %}
    <a class="item">
      Companies
    </a>
    <a class="item">
      Links
    </a>
</div>
{% endblock %}

{% block tab_content %}
  <div class="twelve wide column">
    <div class="ui segment">
    {% include "njuG/feeds.html" with posts=target|getPosts %}
    </div>
  </div>
{% endblock %}

{% block loadJs %}
<script src="{% static "js/createEvent.js" %}"></script>
{% endblock %}
