{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="row">
                     <div class="four wide column">
                         <div class="ui card">
                            <div class="image">
                                {% if target.profile.hasAvatar %}
                                <img src="{% static request.user.username|getAvatarPath %}">
                                {% else %}
                                <img src="{% static ''|getAvatarPath %}">
                                {% endif %}
                            </div>
                            <div class="content">
                                 <span class="header">{{ target.profile.nickName }}</soan>
                            </div>
                        </div>                       
                    </div>
                    <div class="eight wide column">
                        <div class="field">
                            <div class="label"><label>昵称: </label></div>
                            <div class="value"><span>{{ target.profile.nickName }}</span></div>
                        </div>
                        <div class="field">
                            <div class="label"><label>就读学校: </label></div>
                            <div class="value"><span>{{ target.profile.school }}</span></div>
                        </div>
                        <div class="field">
                            <div class="label"><label>学历: </label></div>
                            <div class="value"><span>{{ target.profile.degree }}</span></div>
                        </div>
                        <div class="field">
                            <div class="label"><label>角色: </label></div>
                            <div class="value"><span>{{ target.profile.role }}</span></div>
                        </div>
                         
                        {% if request.user.id != target.id %}
                         <div class="field">
                            <button id="sendMessage" class="ui basic button">发送私信</button>
                         </div> 
                        {% endif %}
                    </div>                  
                </div>
                
                <div class="row">
                  <div class="four wide column">
                      {% block tab_menu %}
                
                      {% endblock %}
                  </div>
                  <div class="twelve wide stretched column">
                    <div class="ui segment tabContent">
                      {% block tab_content %}
                      {% endblock %}
                    </div>
                  </div>
                </div>
            </div>


        </div>
        <div class="two wide column"></div>
    </div>
</div>

<div class="ui modal">
  <div class="header">向{{target.username}}发送私信</div>
  <div class="content">
    <form id="sendMessageForm" class="ui form">
        {% csrf_token %}
        <div class='field'>
            <textarea targetid="{{target.id}}" name="messageContent" rows=4 placeholder='私信内容'></textarea>
        </div>
    </form>
  </div>
  <div class="actions">
    <div id="sendMessageButton" class="ui primary button">发送</div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $("#sendMessage").click(function(){
            $(".ui.modal").modal("show");
        });
            
        $("#sendMessageButton").click(function(){
            var messageContent = $('textarea').val();
            var targetid = $('textarea').attr("targetid");
            $("#sendMessageForm").ajaxSubmit({
                dataType:"json",
                url: "/njuG/sendMessage/",
                type: 'POST',
                headers: { "X-CSRFToken": $.cookie("csrftoken") },
                data: {'messageContent':messageContent, 'targetid':targetid},
                success: function(response){
                    result = response['result'];
                    if(result){
                        $(".ui.modal").modal("hide");
                    }
                },
            });
        });
    });


</script>
{% endblock %}
