{% extends "base.html" %}
{% load staticfiles %}
{% load upload_tag %}
{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
<div class="ui grid">
	<div class="row">
		<div class="twelve wide column">
			<div class="ui form">
				<form method="post" action="/njuG/post" id="postForm">
					{% csrf_token %}
				  <div class="field">
				    <label>说点儿什么吧...</label>
				    <textarea id="postArea" name="content" rows="2" class="poststate" placeholder="What's on your mind" required=></textarea>
				  </div>
				  <button class="ui labeled icon blue basic button" type="submit" id="postButton">
	  				<i class="send icon"></i>
	  				就这样吧
				  </button>
				  <label class="ui labeled icon teal basic button">
				  	<i class="file image outline icon"></i>
					添加图片
					<input id="fileupload" type="file" multiple style="display:none">
				  </label>
			    </form>
			</div>
			<table class="files ui very basic table"></table>
			<div class="ui divider"></div>
			
			<div class="ui large feed">
				{% for post in posts %}
				<div class="event">
					<div class="label">
						<img src="{% static "img/avatar/small/elliot.jpg" %}">
					</div>
					<div class="content">
						<div class="summary">
							{{ post.user.username }} posted on his page
							<div class="date">
								{{ post.time }}
							</div>
						</div>
						<div class="extra text">
							{{ post.content }}
						</div>
						<div class="meta">
							<a class="like" postid="{{ post.id }}">
								{% if post.id in likedPosts %}
								<i class="like icon liked"></i> <i class="likeCount">{{post.likes}}</i> Likes
								{% else %}						
								<i class="like icon"></i> <i class="likeCount">{{post.likes}}</i> Likes
								{% endif %}
							</a>
						</div>
						
						<div class="ui comments">
						{% for comment in post.comments %}
    						<div class="comment">
    						    <a class="avatar"><img src="{% static "img/avatar/small/elliot.jpg" %}"></a>
    						    <div class="content">
    						        <a class="author">{{ comment.user.username }}</a>
    						        <div class="metadata">
    						            <span class="date">{{ comment.time }}</span>
    						        </div>
    						        <div class="text">
    						            {{ comment.content }}
    						        </div>
    						        <div class="actions">
    						            <a class="reply">回复</a>
    						        </div>
    						    </div>
    							
    						</div>						
						{% endfor %}
						
    						<div class="comment">
    						    <a class="avatar"><img src="{% static "img/avatar/small/elliot.jpg" %}"></a>
    						    <div class="content">
    						        <form class="ui form commentForm">
    						            <div class="ui action input">
    						                <input type="text" name="commentContent" placeholder="评论..." required>
    						                <button class="ui icon button" type="submit" postid="{{ post.id }}">
    						                    <i class="send icon"></i>
    						                </button>
    						            </div>
    						        </form>
    						    </div>
    						</div>
						</div>
						
					</div>
				</div>
				{% endfor %}
			</div>
			
		</div>
		<div class="four wide column">
			
		</div>
	</div>	
</div>

<script>
    $(document).ready(function(){
        $(".launch.item").removeClass("active");
        $(".launch.item").eq(0).addClass("active");
        $("#fileupload").change(function(e){
            var fileNum = $("#fileupload").prop("files").length + $("table").find("tr").length;
            if(fileNum > 2 ){
                alert("抱歉！一条状态至多可以关联3张图片。");
                e.stopImmediatePropagation();
            }
        });
    });
</script>
{% endblock %}


{% block loadJs %}
{% upload_js %}
<script src="{% static "js/createEvent.js" %}"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static "jquery/jQuery-file-upload/js/vendor/jquery.ui.widget.js" %}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{% static "jquery/jQuery-file-upload/js/tmpl.min.js" %}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{% static "jquery/jQuery-file-upload/js/load-image.min.js" %}"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{% static "jquery/jQuery-file-upload/js/canvas-to-blob.min.js" %}"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->

<!-- blueimp Gallery script -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.blueimp-gallery.min.js" %}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.iframe-transport.js" %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload.js" %}"></script>
<!-- The File Upload processing plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-process.js" %}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-image.js" %}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-audio.js" %}"></script>
<!-- The File Upload video preview plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-video.js" %}"></script>
<!-- The File Upload validation plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-validate.js" %}"></script>
<!-- The File Upload user interface plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-ui.js" %}"></script>
<!-- The main application script -->
<!-- <script src="{% static "jquery/jQuery-file-upload/js/main.js" %}"></script> -->
<script src="{% static "jquery/jQuery-file-upload/js/locale.js" %}"></script>
<script src="{% static "jquery/jQuery-file-upload/js/csrf.js" %}"></script>
{% endblock %}

