{% extends "base.html" %}

{% load staticfiles %}
{% load upload_tag %}
{% load filters %}
{% load thumbnail %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
<div class="ui grid">
	<div class="row">
	    <div class="two wide column"></div>
		<div class="twelve wide column">
			<div class="ui form">
				<form method="post" action="/njuG/post" id="postForm">
					{% csrf_token %}
				  <div class="field">
				    <label>说点儿什么吧...</label>
				    <textarea id="postArea" name="content" rows="3" class="poststate" placeholder="What's on your mind" required></textarea>

                      <div class="emoji">
                          <div class="ui icon buttons">
                              <button id="emoji-picker" class="ui button">
                                  <i class="smile large icon"></i>
                              </button>
                          </div>
                      </div>
                  </div>
				  <button class="ui labeled icon blue basic button" type="submit" id="postButton">
	  				<i class="send icon"></i>
	  				就这样吧
				  </button>
				  <label class="ui labeled icon teal basic button">
				  	<i class="file image outline icon"></i>
					添加图片
					<input id="fileupload" type="file" accept=".jpg,.png,.jpeg,.JPEG,JPG,PNG" multiple style="display:none">
				  </label>
			    </form>
			</div>
			<table class="files ui very basic table" id="imgPreviewTable"></table>
			<div class="ui divider"></div>
			
			{% include "njuG/feeds.html" %}
            {% include "njuG/pagination.html" with list=posts %}
		</div>
		<div class="two wide column">
			
		</div>
	</div>	
</div>


<div class="ui basic modal">
  <i class="close icon"></i>
  <div id="modalImage" class="content" align="center" style="height: 500px;">
    <!-- <img src="/media/images/2015-07-19_080617_TbYIi3N.png" > -->
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <button id="previousButton" class="ui red basic inverted button">
        <i class="angle left icon"></i>
        Previous
      </button>
      <button id="nextButton" class="ui green basic inverted button">
        Next
        <i class="angle right icon"></i>
      </button>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $(".ui.feed").addClass("large");

        $('#postArea').emojiPicker({
            button: false,
        });

        $("#emoji-picker").click(function(e){
            e.preventDefault();
            $("#postArea").emojiPicker('toggle');
            //set emojiPicker offset
            var emojiPicker = $("div.emojiPicker");
            var offset = $(".field .emoji").offset();
            var emojiTop = offset.top + $(".field .emoji").height();
            emojiPicker.offset({top: emojiTop, left: offset.left});
        });

        $("#fileupload").fileupload({
            dataType: "json",
            url: "/njuG/postUploadImg/",
            filesContainer: $('table.files'),
            uploadTemplateId: 'template-upload',
            downloadTemplateId: "template-download",
        });

        $("#imgPreviewTable").on("click", "button.start", function(){
            $(this).waitMe({
                effect:'facebook',
                sizeH:'1em',
                color:'#2185d0'
            });
        })

        $(".launch.item").removeClass("active");
        $(".launch.item").eq(0).addClass("active");
        
        $("#fileupload").click(function(){
            {% if not request.user.is_authenticated %}
            window.location.replace("/accounts/login/");
            return false;
            {% endif %}
        });


        $("#fileupload").change(function(e){
            var fileNum = $("#fileupload").prop("files").length + $("table").find("tr").length;
            if(fileNum > 3 ){
                alert("抱歉！一条状态至多可以关联3张图片。");
                // e.stopImmediatePropagation();
                setTimeout(function(){
                    var imgs = $("table").find("tr");
                    var length = imgs.length;
                    for(i=3;i<length;i++){
                        imgs[i].remove();
                    }
                },100);
            }
        });
        
        $(".previewImage").click(function(){
            var currentImgUrl = $(this).attr("href");
            var previousImgUrl = "";
            var nextImgUrl = "";
            
            $("#previousButton").prop("disabled", false);
            $("#nextButton").prop("disabled", false);
            if($(this).prev().length!=0){
                previousImgUrl = $(this).prev().attr("href");
            }else{
                $("#previousButton").prop("disabled", true);
            }
            if($(this).next().length!=0){
                nextImgUrl = $(this).next().attr("href");
            }else{
                $("#nextButton").prop("disabled", true);
            }
            
            var content = $(".ui.basic.modal").find(".content");
            
            content.empty();
            var img = $("<img/>").attr("src", currentImgUrl).attr("index",$(this).attr("index")).attr("postid", $(this).attr("postid"));
            content.append(img);
            $('.ui.basic.modal').modal('show');
            return false;
        });
        
        $("#previousButton").click(function(){
            var content = $("#modalImage");
            var img = content.children("img");
            var index = img.attr("index");
            var prevIndex = parseInt(index) - 1;
            var postid = img.attr("postid");
            
            var prevA = $('a[index="'+prevIndex+'"][postid="'+postid+'"]');
            var prevImg = $("<img/>").attr("src", prevA.attr("href")).attr("index", prevIndex).attr("postid", postid);
            
            content.empty();
            content.append(prevImg);
            
            if(prevIndex==0){
                $("#previousButton").prop("disabled", true);
            }else{
                $("#previousButton").prop("disabled", false);
            }
            
            $("#nextButton").prop("disabled", false);
        });
        
        $("#nextButton").click(function(){
            var content = $("#modalImage");
            var img = content.children("img");
            var index = img.attr("index");
            var nextIndex = parseInt(index) + 1;
            var postid = img.attr("postid");
            
            var nextA = $('a[index="'+nextIndex+'"][postid="'+postid+'"]');
            var nextImg = $("<img/>").attr("src", nextA.attr("href")).attr("index", nextIndex).attr("postid", postid);
            
            content.empty();
            content.append(nextImg);
            
            var nextNextIndex = nextIndex+1;
            if($('a[index="'+nextNextIndex+'"][postid="'+postid+'"]').length==0){
                $("#nextButton").prop("disabled", true);
            }else{
                $("#nextButton").prop("disabled", false);
            }
            
            $("#previousButton").prop("disabled", false);
        });
    });
</script>
{% endblock %}


{% block loadJs %}
{% upload_js %}
<script src="{% static "js/createEvent.js" %}"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static "jquery/jQuery-file-upload/js/vendor/jquery.ui.widget.js" %}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{% static "jquery/jQuery-file-upload/js/tmpl.min.js" %}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{% static "jquery/jQuery-file-upload/js/load-image.min.js" %}"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{% static "jquery/jQuery-file-upload/js/canvas-to-blob.min.js" %}"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->

<!-- blueimp Gallery script -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.blueimp-gallery.min.js" %}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.iframe-transport.js" %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload.js" %}"></script>
<!-- The File Upload processing plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-process.js" %}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-image.js" %}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-audio.js" %}"></script>
<!-- The File Upload video preview plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-video.js" %}"></script>
<!-- The File Upload validation plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-validate.js" %}"></script>
<!-- The File Upload user interface plugin -->
<script src="{% static "jquery/jQuery-file-upload/js/jquery.fileupload-ui.js" %}"></script>
<!-- The main application script -->
<!-- <script src="{% static "jquery/jQuery-file-upload/js/main.js" %}"></script> -->
<script src="{% static "jquery/jQuery-file-upload/js/locale.js" %}"></script>
<script src="{% static "jquery/jQuery-file-upload/js/csrf.js" %}"></script>
{% endblock %}

