{% extends "njuG/home_base.html" %}

{% load staticfiles %}
{% load filters %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/message.css" %}">
{% endblock %}

{% block tab_menu %}
<div class="ui vertical fluid tabular menu">
    {% if request.user.username == target.username %}
    <a href="{% url 'myHome' %}" class="item">
      我的发布
    </a>
    <a href="{% url 'message' %}" class="item active">
      我的消息
      {% if request.user.profile.unreadMessageCount > 0 %}
      <div class="ui teal pointing left label">{{request.user.profile.unreadMessageCount}}</div>
      {% endif %}
    </a>
    {% endif %}
    <a class="item">
      Companies
    </a>
    <a class="item">
      Links
    </a>
</div>
{% endblock %}

{% block tab_content %}

<div class="ui feed">
    {% for message in messages %}
    {% with source=message.source %}
    <div class="event">
        <div class="label">
            {% if source.profile.hasAvatar %}
            <img src="{% static message.source.username|getAvatarPath %}">
            {% else %}
            <img src="{% static ''|getAvatarPath %}">
            {% endif %}
        </div>
        <div class="content">
            <div class="summary">
                <a>{{ source.username }}</a> 在
                <span class="messageTopic">
                    {% if message|isPostComment or message|isReplyPostComment %}
                    {{ message.masterPost.content }}
                    {% elif message|isBlogComment or message|isReplyBlogComment %}
                    {{ message.masterBlog.title }}
                    {% endif %}
                </span> 中评论你：
                <div class="date">
                    {{ message.time }}
                </div>
            </div>
            <div class="extra text">
                {{ message.content }}
            </div>
            
            
            <!-- <div class="ui comments">
                <div class="comment">
                    <a class="avatar commentAvatar">
                        {% if request.user.profile.hasAvatar %}
                        <img src="{% static request.user.username|getAvatarPath %}">
                        {% else %}
                        <img src="{% static ''|getAvatarPath %}">
                        {% endif %}
                    </a>
                    <div class="content">
                        <form class="ui form commentForm">
                            <div class="ui action input">
                                <input type="text" name="commentContent" placeholder="评论..." required>
                                <button class="ui icon button" type="submit" postid="{{ post.id }}">
                                    <i class="send icon"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> -->
            
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>

{% endblock %}