{% extends "njuG/home_base.html" %}

{% load staticfiles %}
{% load filters %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/message.css" %}">
{% endblock %}

{% block tab_menu %}
<div class="ui vertical fluid tabular menu">

    <a href="{% url 'myHome' %}" class="item">
      我的发布
    </a>
    <a href="{% url 'message' %}" class="item active">
      我的消息
      {% if request.user.profile.unreadMessageCount > 0 %}
      <div class="ui teal pointing left label messageCount">{{request.user.profile.unreadMessageCount}}</div>
      {% endif %}
    </a>

</div>
{% endblock %}

{% block tab_content %}

<div class="ui feed">
    <h3 class="ui dividing header">未读消息</h3>
    {% for message in messages %}
        {% if not message.isRead %}
        {% with source=message.source %}
        {% include 'njuG/message_list.html' %}
        {% endwith %}
        {% endif %}
    {% endfor %}
    
    <h3 class="ui dividing header">已读消息</h3>
    {% for message in messages %}
        {% if message.isRead %}
        {% with source=message.source %}
        {% include 'njuG/message_list.html' %}
        {% endwith %}
        {% endif %}
    {% endfor %}
</div>

<script>
    $(document).ready(function(){
        $(".actions").children("a").click(function(){
            var messageid = $(this).attr("messageid");
            $.ajax({
                url: "/njuG/setMessageRead/",
                dataType: "json",
                headers: { "X-CSRFToken": $.cookie("csrftoken") },
                type: 'POST',
                data: {"messageid": messageid},
                success: function(response){
                    if(response['result']==1){
                        var messageCount = $(".messageCount").first().text();
                        messageCount = parseInt(messageCount);
                        messageCount -= 1;
                        $(".messageCount").text(messageCount);
                        if(messageCount==0){
                            $(".messageCount").remove();
                        }
                    }
                },
            });
        });
    });
</script>
{% endblock %}

{% block loadJs %}
<script src="{% static "js/createEvent.js" %}"></script>
<script src="{% static "js/replyBlogComment.js" %}"></script>
<script src="{% static "js/replyMessage.js" %}"></script>
{% endblock%}
