{% extends "base.html" %}
{% load staticfiles %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/discussion.css" %}">
{% endblock %}

{% block content %}
<div class="discussionPanel">
    <form class="ui form" method="post">
      <div class="field">
        <label>标题</label>
        <input type="text" name="title" placeholder="标题" required>
      </div>
      <div class="field">
        <label>内容</label>
        <textarea name="content" rows="12" required></textarea>
      </div>
      <div class="inline field">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>匿名发布</label>
        </div>
      </div>
      <button class="ui labeled icon blue basic button" type="submit">
        <i class="send icon"></i>
        发布帖子
      </button>
    </form>
</div>


<script>
    $(document).ready(function(){
        $(".launch.item").removeClass("active");
        $(".launch.item").eq(1).addClass("active");
        
        $('.ui.checkbox').checkbox();
;
    });
</script>
{% endblock %}
