{% extends "base.html" %}
{% load staticfiles %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/discussion.css" %}">
<link rel="stylesheet" href="{% static "jquery/Trumbowyg-2.0.0/dist/ui/trumbowyg.min.css" %}">
{% endblock %}

{% block content %}

<div class="discussionPanel">
    <form class="ui form" method="post">
        {% csrf_token %}
      <div class="field">
        <label for="{{ form.title.id_for_label }}">标题</label>
        {{ form.title }}
        {% for error in form.title.errors %}
            {{error}}
        {% endfor %}
        <!-- <input type="text" name="title" placeholder="标题" required> -->
      </div>
      <div class="field">
        <label for="{{ form.content.id_for_label }}">文章内容</label>
        {{ form.content }}
        {% for error in form.content.errors %}
            {{error}}
        {% endfor %}
        <!-- <textarea name="content" rows="12" required></textarea> -->
      </div>
      <div class="inline field">
        <div class="ui toggle checkbox">
            {{ form.isAnonymous }}
          <!-- <input type="checkbox" tabindex="0" class="hidden"> -->
          <label>匿名发布</label>
        {% for error in form.isAnonymous.errors %}
            {{error}}
        {% endfor %}
        </div>
      </div>
      <button class="ui labeled icon blue basic button" type="submit">
        <i class="send icon"></i>
        发布帖子
      </button>
    </form>
</div>

{% block loadJs %}
<script src="{% static "jquery/Trumbowyg-2.0.0/dist/trumbowyg.min.js" %}"></script>
<script src="{% static "jquery/Trumbowyg-2.0.0/dist/plugins/base64/trumbowyg.base64.min.js" %}"></script>
{% endblock %}

<script>
    $(document).ready(function(){
        
        $(".launch.item").removeClass("active");
        $(".launch.item").eq(1).addClass("active");
        
        $('.ui.checkbox').checkbox();
        
        $("#id_content").trumbowyg({
            // btnsAdd: ['base64'],
            btnsDef:{
                insertImages:{
                    dropdown: ['insertImage','base64'],
                    ico: 'insertImage'
                }
            },
            btns:['viewHTML',
                '|', 'formatting',
                '|', 'btnGrp-design',
                '|', 'link',
                '|', 'insertImages',
                '|', 'btnGrp-justify',
                '|', 'btnGrp-lists',
                '|', 'horizontalRule']
            
        });
        
        $(".trumbowyg-base64-dropdown-button, .trumbowyg-insertImage-dropdown-button").mousedown(function(){
            $(".trumbowyg-modal-box label input").css({"width": "340px", "border-radius": "0em"});
        });
//         
//         
        // $("button[type='submit']").click(function(){
            // $(".trumbowyg-viewHTML-button").click();
            // return false;
            // if(!$("#id_content").val()){
                // $("#id_content").val($(".trumbowyg-editor").text());
            // }
        // });
    });
</script>
{% endblock %}
