{% extends "base.html" %}

{% load staticfiles %}
{% load filters %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "jquery/cropper/out/cropper.min.css" %}">
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="two wide column"></div>
        <div class="four wide column">
            <img id="avatarImg" src="{% static avatar_path %}" >
            <button id="changeAvatar" class="ui basic button">修改头像</button>
            <!-- <div class="avatarPreview">
                <img id="avatarImg" src="" >
            </div>
            <input id="avatarInput" type="file" /> -->
        </div>
        <div class="eight wide column">
            <form class="ui form" method="post" >
                {% csrf_token %}
              <div class="field">
                <label for="{{form.nickName.id_for_label}}">昵称</label>
                {{ form.nickName }}
              </div>
              <div class="field">
                <label for="{{form.school.id_for_school}}">学校</label>
                {{ form.school|addCSS:"ui dropdown" }}
              </div>
              
              <div class="field">
                  <label for="{{form.degree.id_for_degree}}">学历</label>
                  {{ form.degree|addCSS:"ui dropdown "}}
              </div>
              
              <div class="field">
                  <label for="{{form.role.id_for_role}}">角色</label>
                  {{ form.role|addCSS:"ui dropdown "}}
              </div>
              <button class="ui button blue" type="submit">保存</button>
            </form>
        </div>
        <div class="two wide column"></div>
    </div>
</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui large image">
        <div class="cropContainer">
            <img id="cropImg" src="">
        </div>
        <label class="ui labeled icon blue button">
          <i class="file image outline icon"></i>
          选择头像
          <input id="avatarInput" type="file" accept=".jpg,.png,.jpeg,.JPEG,JPG,PNG" style="display:none">
        </label>
        
        <button id="cropBtn" class="ui labeled icon secondary button">
          <i class="cut icon"></i>
          裁剪
        </button>
    </div>
    <div class="description">
        <div class="avatarWrapper largeAvatar inline"><img class="largeAvatarImg avatarPreview" src="" /></div>
        <div class="avatarWrapper middleAvatar inline"><img class="middleAvatarImg avatarPreview" src="" /></div>
        <div class="avatarWrapper smallAvatar inline"><img class="smallAvatarImg avatarPreview" src="" /></div>
    </div>
  </div>
  <div class="actions">
    <div id="uploadAvatarBtn" class="ui positive right labeled icon button">
      这就是我，上传吧！
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $(".ui.dropdown").dropdown();
        $("#changeAvatar").click(function(){
            $('.ui.modal')
            .modal({
                onApprove: uplpadAvatar,
            })
            .modal('show');
            if(! $("#cropImg").attr("src") ){
                $("#cropBtn").prop("disabled",true);
                $("#uploadAvatarBtn").prop("disabled",true);
            }
        });
    });
</script>
{% endblock %}

{% block loadJs %}
<script src="{% static "jquery/cropper/out/cropper.min.js" %}"></script>
<script src="{% static "js/cropAvatar.js" %}"></script>
{% endblock %}