{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}
{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/discussion.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/viewDiscussion.css" %}">
{% endblock %}

{% block content %}
<div class="discussionPanel">
    <h2>{{ blog.title }}</h2>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
            {% if blog.user.profile.hasAvatar %}
            <img src="{% static blog.user.username|getAvatarPath %}">
            {% else %}
            <img src="{% static ''|getAvatarPath %}">
            {% endif %}
          <!-- <img src="{% static "img/avatar/small/elliot.jpg" %}"> -->
        </a>
        <div class="content">
          <a class="author" href="{% url 'home' blog.user.id %}">{{blog.user.username}}</a>
          <div class="text date" style="color: rgba(0,0,0,.4);">
            <span class="date">{{ blog.time }}</span>
          </div>
        </div>
      </div>
    </div>
    
    <div>
        {% autoescape off %}{{ blog.content }}{% endautoescape %}
    </div>
    
    <div class="ui comments">
      <h3 class="ui dividing header">评论</h3>
      {% for comment in blogComments %}
      {% if not comment.replyTo %}
      <div class="comment">
          <a class="avatar">
            {% if comment.user.profile.hasAvatar %}
            <img class="ui image" src="{% static comment.user.username|getAvatarPath %}">
            {% else %}
            <img class="ui image" src="{% static ''|getAvatarPath %}">
            {% endif %}
          </a>
          <div class="content">
              <a class="author">{{ comment.user.username}}</a>
              <div class="metadata">
                  <span class="date">{{ comment.time }}</span>
              </div>
              <div class="text">
                  {{comment.content}}
              </div>
              <div class="actions">
                  <a class="reply">回复</a>
                  <form class="ui form replyCommentForm" style="display: none" commentid="{{ comment.id }}" blogid="{{ blog.id }}" masterCommentid="{{comment.id}}">
                      <div class="field">
                          <textarea rows="2" name="content" required></textarea>
                      </div>
                      <button class="ui labeled icon tiny basic button" type="submit">
                          <i class="send icon"></i>
                          回复
                      </button>
                  </form>
              </div>
          </div>
          {% if comment.first_blog_comment.all %}
          <div class="comments">
              {% for reply in comment.first_blog_comment.all|order_by:"time" %}
              <div class="comment">
                  <a class="avatar">
                      {% if reply.user.profile.hasAvatar %}
                      <img src="{% static reply.user.username|getAvatarPath %}">
                      {% else %}
                      <img src="{% static ''|getAvatarPath %}">
                      {% endif %}
                  </a>
                  <div class="content">
                      <a class="author" href="{% url 'home' reply.user.id %}">{{ reply.user.username }}</a>回复<a class="author">{{ reply.replyTo.user.username }}</a>
                      <div class="metadata">
                          <span class="date">{{ reply.time }}</span>
                      </div>
                      <div class="text">
                          {{ reply.content }}
                      </div>
                      <div class="actions">
                          <a class="reply">回复</a>
                          <form class="ui form replyCommentForm" style="display: none" commentid="{{ reply.id }}" blogid="{{ blog.id }}" masterCommentid="{{comment.id}}">
                              <div class="field">
                                  <textarea rows="2" name="content" required></textarea>
                              </div>
                              <button class="ui labeled icon tiny basic button" type="submit">
                                  <i class="send icon"></i>
                                  回复
                              </button>
                          </form>
                      </div>
                  </div>
              </div>
              {% endfor%}
          </div>
          {% endif %}
      </div>  <!--comment ends!-->
      {% endif %}
      {% endfor %}

      <form class="ui reply form" id="blogCommentForm" blogid="{{blog.id}}">
        <div class="field">
          <textarea id="blogComment" name="blogComment"></textarea>
        </div>
        <button class="ui blue labeled submit icon button">
          <i class="icon edit"></i> 发表评论
        </button>
      </form>
    </div>
    
    
</div>


<script>
    $(document).ready(function(){
        $(".launch.item").removeClass("active");
        $(".launch.item").eq(1).addClass("active");
        
        $("#blogCommentForm").submit(function(){
            var blogid=$(this).attr("blogid");
            $(this).ajaxSubmit({
                dataType: "json",
                headers: { "X-CSRFToken": $.cookie("csrftoken") },
                type: 'POST',
                url: "/njuG/commentBlog/",
                data: {"content": $("#blogComment").val(), "blogid": blogid},
                success: function(response){
                    showMessage(1,"评论成功！");
                },
                complete: function(response){
                    $("#blogComment").val('');
                },
            });
            return false;
        });
        
        $("a.reply").click(function(){
            $(this).next().slideToggle("fast");
        });
        

    });
    
</script>
{% endblock %}

{% block loadJs %}
<script src="{% static "js/replyBlogComment.js" %}"></script>
{% endblock%}