{% extends "base.html" %}
{% load staticfiles %}

{% block loadCss %}
<link rel="stylesheet" type="text/css" href="{% static "css/discussion.css" %}">
{% endblock %}

{% block content %}
<div class="discussionPanel">
    <h2>{{ blog.title }}</h2>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="{% static "img/avatar/small/elliot.jpg" %}">
        </a>
        <div class="content">
          <a class="author">{{blog.user.username}}</a>
          <div class="text date" style="color: rgba(0,0,0,.4);">
            <span class="date">{{ blog.time }}</span>
          </div>
        </div>
      </div>
    </div>
    
    <p>
        {{ blog.content }}
    </p>
    
    <div class="ui comments">
      <h3 class="ui dividing header">评论</h3>
      <div class="comment">
        <a class="avatar">
          <img src="{% static "img/avatar/small/elliot.jpg" %}">
        </a>
        <div class="content">
          <a class="author">Matt</a>
          <div class="metadata">
            <span class="date">Today at 5:42PM</span>
          </div>
          <div class="text">
            How artistic!
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <div class="comment">
        <a class="avatar">
          <img src="{% static "img/avatar/small/elliot.jpg" %}">
        </a>
        <div class="content">
          <a class="author">Elliot Fu</a>
          <div class="metadata">
            <span class="date">Yesterday at 12:30AM</span>
          </div>
          <div class="text">
            <p>This has been very useful for my research. Thanks as well!</p>
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
        <div class="comments">
          <div class="comment">
            <a class="avatar">
              <img src="{% static "img/avatar/small/elliot.jpg" %}">
            </a>
            <div class="content">
              <a class="author">Jenny Hess</a>
              <div class="metadata">
                <span class="date">Just now</span>
              </div>
              <div class="text">
                Elliot you are always so right :)
              </div>
              <div class="actions">
                <a class="reply">Reply</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <a class="avatar">
          <img src="{% static "img/avatar/small/elliot.jpg" %}">
        </a>
        <div class="content">
          <a class="author">Joe Henderson</a>
          <div class="metadata">
            <span class="date">5 days ago</span>
          </div>
          <div class="text">
            Dude, this is awesome. Thanks so much
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <form class="ui reply form" id="blogCommentForm" blogid="{{blog.id}}">
        <div class="field">
          <textarea id="blogComment" name="blogComment"></textarea>
        </div>
        <button class="ui blue labeled submit icon button">
          <i class="icon edit"></i> Add Reply
        </button>
      </form>
    </div>
    
</div>


<script>
    $(document).ready(function(){
        $(".launch.item").removeClass("active");
        $(".launch.item").eq(1).addClass("active");
        
        $("#blogCommentForm").submit(function(){
            var blogid=$(this).attr("blogid");
            $(this).ajaxSubmit({
                dataType: "json",
                headers: { "X-CSRFToken": $.cookie("csrftoken") },
                type: 'POST',
                url: "/njuG/commentBlog/",
                data: {"content": $("#blogComment").val(), "blogid": blogid},
            });
            return false;
        });
    });
    
    $()
</script>
{% endblock %}
